{% extends '::base.html.twig' %}
{% block title %} Ver Docente {% endblock %}
{% block body -%}
    <h1>Docente</h1>

    <table class="record_properties tabla verItem">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                {% if entity.email is null %}
                    <td> N/A </td>
                {% else %}
                    <td>{{ entity.email }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Teléfono</th>
                {% if entity.telefono is null %}
                    <td> N/A </td>
                {% else %}
                    <td>{{ entity.telefono }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions tablaAcciones">
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_docente_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                    
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_docente') }}">
                        Volver a la lista
                    </a>
        </ul>
{% endblock %}
