{% extends '::base.html.twig' %}

{% block body -%}
{{ form_start(form, {'attr': {'class': 'form-horizontal style-form formAutogenerado', 'role': 'form'}}) }}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Nuevo Administrador</h3>
			</div>
			<div class="panel-body">

			    <div class="form-group">
					{{ form_label(form.nombre, 'Nombre: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(form.nombre, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(form.nombre) }}
			        </div>	        
			    </div>
				
				<div class="form-group">
			        {{ form_label(form.apellido, 'Apellido: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(form.apellido, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(form.apellido) }}
			        </div>	        
			    </div>

			    <div class="form-group">
			        {{ form_label(form.activo, 'Activo: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(form.activo, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(form.activo) }}
			        </div>	        
			    </div>

        <ul class="record_actions">
		    <li>
		        <a href="{{ path('aulas_administrador') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>

		{{ form_end(edit_form) }}

	    	</div>
		</div>
{% endblock %}
