{% extends '::base.html.twig' %}
{% block title %}Actividades {% endblock %}
{% block body -%}
    <h1>Listado de Actividades</h1>
    <ul>
        <a href="{{ path('aulas_actividad_new') }} "class="btn btn-default botonTabla">Nueva Actividad</a>
    </ul>
    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Disertantes</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipo }}</td>
                {% if entity.disertantes is null %}
                    <td> N/A </td>
                {% else %}
                    <td>{{ entity.disertantes }}</td>
                {% endif %}
                <td>
                <ul>
                    <a href="{{ path('aulas_actividad_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                        
                    <a href="{{ path('aulas_actividad_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                    <a href="{{ path('aulas_actividad_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" onclick="return confirmar()" alt="Borrar" /></a>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>
    {% endblock %}
