{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actividad</h1>

    <table class="record_properties tabla verItem">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Disertantes</th>
                <td>{{ entity.disertantes }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions tablaAcciones">
        <a class="btn btn-default botonTabla" href="{{ path('aulas_actividad') }}">
            Volver a la lista
        </a>

        <a class="btn btn-default botonTabla" href="{{ path('aulas_actividad_edit', { 'id': entity.id }) }}">
            Editar
        </a>
</ul>
{% endblock %}