{% extends '::base.html.twig' %}
{% block title %}Movimientos {% endblock %}
{% block body -%}
    <h1>Listado de Movimientos</h1>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Aula</th>
                <th>Fecha desde</th>
                <th>Fecha hasta</th>
                <th>Fecha de Reserva</th>


            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
     
                <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.movimientoPersona }}</td>
                <td>{{ entity.reservaAula }}</td>
                <td>{{ entity.reservaHoraDesde |date('H:i') }}hs</td>
                <td>{{ entity.reservaHoraHasta |date('H:i') }}hs</td>                       
                <td>{% if entity.reservaParaDiaDeReserva %}{{ entity.reservaParaDiaDeReserva|date('d-m-Y') }}{% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <ul>
            <a href="#top" class="btn btn-default botonTabla">
                Volver arriba
            </a>
    </ul>
#}
    {% endblock %}
