{% extends '::base.html.twig' %}
{% block title %}Movimientos {% endblock %}
{% block body -%}
    <h1>Lista de Movimientos</h1>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Fecha de Movimiento</th>
                <th>Usuario</th>
                <th>Aula</th>
                <th>Hora desde</th>
                <th>Hora hasta</th>
                <th>Fecha de Reserva</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.movimientoPersona }}</td>
                <td>{{ entity.reservaAula }}</td>
                <td>{{ entity.reservaHoraDesde |date('H:i') }}</td>
                <td>{{ entity.reservaHoraHasta |date('H:i') }}</td>                       
                <td>{% if entity.reservaParaDiaDeReserva %}{{ entity.reservaParaDiaDeReserva|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <ul>
            <a href="#top" class="btn btn-default botonTabla">
                Volver arriba
            </a>
    </ul>
#}
    {% endblock %}
