{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aulas disponibles</h1>
    <form> 
   <select onchange="location.href=this.options[this.selectedIndex].value" placeholder="pizza">
        <option value="#">{{seleccionado}}</option>
        {% for m in meses %}
         {% if loop.index >= mesActual %}
            {% if seleccionado != m %}
                <option value="?mes={{m}}" > {{m}}</option>
             {% endif %}
         {% endif %}   
       {% endfor %}
    </select>

    <select>

        {% for dia in mesSelect %}
            {% if ( asd == mesActual) %}
                {% if (loop.index >= diaActual) %}
                    <option value="{{dia}}">{{dia}}</option>
                {% endif %}
            {% else %}
                <option value="{{dia}}">{{dia}}</option>
            {% endif %}
        {% endfor %}

    </select>
    
    </form>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Aula/Horario</th>
                {% for a in aulasMostrar %}
                    {% if a.activo != false %}
                        <th>{{a.nombre}}</th>
                    {% endif %}    
                {% endfor %}
             </tr>
        </thead>
        <tbody>
            {% for h in horarios %}
                    <tr>
                        <td>{{h}}</td>
                        {% for a in aulasMostrar %}
                            {% if a.activo != false %}
                                <td>Gol De Boca</td>
                            {% endif %}  
                        {% endfor %}
                   </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
