{% extends '::base.html.twig' %}
{% block title %} Disponibilidad de Aulas {% endblock %}
{% block body -%}
    <h1> Disponibilidad de Aulas </h1>
    <form> 
       <select onchange="location.href=this.options[this.selectedIndex].value">
            <option value="#">{{seleccionadoMes}}</option>
            {% for m in meses %}
             {% if loop.index >= mesActual %}
                {% if seleccionadoMes != m %}
                    <option value="?mes={{m}}&dia={{seleccionadoDia}}"> {{m}}</option>
                 {% endif %}
             {% endif %}   
           {% endfor %}
        </select>

        <select onchange="location.href=this.options[this.selectedIndex].value"> 
            <option value="?mes={{seleccionadoMes}}&dia={{diaActual}}">{{seleccionadoDia}}</option>
            {% for dia in mesSelect %}
                {% if ( asd == mesActual) %}
                    {% if (loop.index >= diaActual) %}
                        {% if seleccionadoDia != dia %}
                            <option value="?mes={{seleccionadoMes}}&dia={{dia}}">{{dia}}</option> 
                        {% endif %}
                    {% endif %}
                {% else %}
                    <option value="?mes={{seleccionadoMes}}&dia={{dia}}">{{dia}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select onchange="location.href=this.options[this.selectedIndex].value">
            <option value="#">Aula</option>
            {% for a in aulasMostrar %}
                <option value="?mes={{seleccionadoMes}}&dia={{seleccionadoDia}}&aula={{a.id}}">{{a.nombre}}</option>
            {% endfor %}
        </select>  
        <a class="btn btn-default botonTabla" href = "disponibilidad">Quitar Filtros</a>
                                              {# COntrolo los meses con 31  dias #}  
        <a class="btn btn-default botonTabla" {% if ((seleccionadoMes == 'Enero') or (seleccionadoMes == 'Marzo') or    
                                              (seleccionadoMes == 'Mayo') or (seleccionadoMes == 'Julio')
                                              or (seleccionadoMes == 'Agosto') or (seleccionadoMes == 'Octubre') or 
                                              (seleccionadoMes == 'Diciembre')) and (seleccionadoDia < 31) %}
                                                href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+1}}">Dia Siguente</a>
                                              {# Cada uno de los meses y su siguente #}  
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Enero'))) %}
                                                href = "?mes=Febrero&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Marzo'))) %}
                                                href = "?mes=Abril&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Mayo'))) %}
                                                href = "?mes=Junio&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Julio'))) %}
                                                href = "?mes=Agosto&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Agosto'))) %}
                                                href = "?mes=Septiembre&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Octubre'))) %}
                                                href = "?mes=Noviembre&dia=1">Dia Siguente</a>
                                              {% elseif (((seleccionadoMes == 'Abril') or (seleccionadoMes == 'Junio')
                                              or (seleccionadoMes == 'Septiembre' or (seleccionadoMes == 'Noviembre'))) and (seleccionadoDia < 30)) %}
                                                href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+1}}">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Abril'))) %}
                                                href = "?mes=Mayo&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Junio'))) %}
                                                href = "?mes=Julio&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Septiembre'))) %}
                                                href = "?mes=Octubre&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Noviembre'))) %}
                                                href = "?mes=Diciembre&dia=1">Dia Siguente</a>
                                              {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Diciembre'))) %}
                                                href = "?mes=Diciembre&dia=31">Dia Siguente</a>
                                              {% else %}
                                                href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+1}}">Dia Siguente</a>
                                              {%endif%}
                                            
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia-1}}">Dia Anterior</a>
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+7}}">Semana Siguente</a>
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia-7}}">Semama ANterior</a>
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes+1}}&dia={{seleccionadoDia}}">Mes Siguente</a>
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes-1}}&dia={{seleccionadoDia}}">Mes Anterior</a>
    </form>
   
     <table class="records_list tabla" >
            <tbody>   
            {% if ArrayContenedor is null %}
                 <th>Hora/Aula</th>
                
                {% for aula in aulasMostrar %}  
                    <th>{{aula.nombre}}</th>
                {% endfor %}
                    {% for horario in horarios %}
                    {% if horario != '22:30 a 23:00'%}
                       <tr> 
                           {% set valorIndexHora = loop.index %}
                            <td>{{horario}}</td>
                            {% for aula in aulasMostrar %} 
                            {% set nombreActual = aula.nombre %}
                            <script>
                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioOcupado');
                            </script> 
                            <td id = "{{horario}}{{nombreActual}}" class="HorarioDisponible"></td>
                            
                            {% for disponible in ArrayContenedor %}
                                {% set valor = (disponible.2-(disponible.1)) %}  
                                {% if ((disponible.1 == valorIndexHora) and (disponible.3 == nombreActual)) %}                            
                                        <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('rowspan','{{valor}}');
                                        </script>                                            
                                {% endif %}
                                 {% if ((disponible.2 > valorIndexHora) and (disponible.1 < valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                       <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").remove();
                                        </script>                                          
                                {% endif %}
                                 {% if ((disponible.2 == valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                         <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}")classList.add('HorarioOcupado');
                                        </script>
                                {% endif %}

                            {% endfor %}

                           {% endfor %}

                       </tr>
                       {% endif %}
                    {% endfor %}
           
                
          
            {%else%}
                <th>Hora/Aula</th>
                
                {% for aula in aulasMostrar %}  
                    <th>{{aula.nombre}}</th>
                {% endfor %}
                    {% for horario in horarios %}
                        {% if horario != '22:30 a 23:00'%}
                       <tr> 
                           {% set valorIndexHora = loop.index %}
                            <td>{{horario}}</td>
                            {% for aula in aulasMostrar %} 
                            {% set nombreActual = aula.nombre %}
                            <script>
                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioOcupado');
                            </script> 
                            <td id = "{{horario}}{{nombreActual}}" class="HorarioDisponible"></td>
                            
                            {% for disponible in ArrayContenedor %}
                                {% set valor = (disponible.2-(disponible.1)) %}  
                                {% if ((disponible.1 == valorIndexHora) and (disponible.3 == nombreActual)) %}                            
                                        <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{disponible.4.curso.anio}} </br>" +
                                                 "{{disponible.4.curso.nombre}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('rowspan','{{valor}}');
                                        </script>
                                                                                   
                                {% endif %}
                                 {% if ((disponible.2 > valorIndexHora) and (disponible.1 < valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                       <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{disponible.4.curso.anio}} </br>" +
                                                 "{{disponible.4.curso.nombre}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").remove();
                                        </script> 
                                                                              
                                {% endif %}
                                 {% if ((disponible.2 == valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                         <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{disponible.4.curso.anio}} </br>" +
                                                 "{{disponible.4.curso.nombre}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}")classList.add('HorarioOcupado');
                                        </script>

                                {% endif %}
                            {% endfor %}
                           {% endfor %}

                       </tr>
                       {% endif %}
                    {% endfor %}
           
                
            {%endif%}
                
            </tbody>
            
        </table>
        
     
 
{% endblock %}