{% extends '::base.html.twig' %}
{% block title %} Disponibilidad de Aulas {% endblock %}
{% block body -%}
    <h1> Disponibilidad de Aulas </h1>
    <form> 
       <select onchange="location.href=this.options[this.selectedIndex].value">
            <option value="#">{{seleccionadoMes}}</option>
            {% for m in meses %}
             {% if loop.index >= mesActual %}
                {% if seleccionadoMes != m %}
                    <option value="?mes={{m}}&dia={{seleccionadoDia}}"> {{m}}</option>
                 {% endif %}
             {% endif %}   
           {% endfor %}
        </select>

        <select onchange="location.href=this.options[this.selectedIndex].value"> 
            <option value="?mes={{seleccionadoMes}}&dia={{diaActual}}">{{seleccionadoDia}}</option>
            {% for dia in mesSelect %}
                {% if ( asd == mesActual) %}
                    {% if (loop.index >= diaActual) %}
                        {% if seleccionadoDia != dia %}
                            <option value="?mes={{seleccionadoMes}}&dia={{dia}}">{{dia}}</option> 
                        {% endif %}
                    {% endif %}
                {% else %}
                    <option value="?mes={{seleccionadoMes}}&dia={{dia}}">{{dia}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select onchange="location.href=this.options[this.selectedIndex].value">
            <option value="#">Aula</option>
            {% for a in aulasMostrar %}
                <option value="?mes={{seleccionadoMes}}&dia={{seleccionadoDia}}&aula={{a.id}}">{{a.nombre}}</option>
            {% endfor %}
        </select> 
        {% set anioActual = "now"|date("Y") %}
        {% set mesActuNum = "now"|date("m") %}
        {% set diaActual = "now"|date("d") %}
        {% if mesActuNum == '01' %}
          {%set mesActuLetras = 'Enero'%}
        {% elseif mesActuNum == '02' %}
          {%set mesActuLetras = 'Febrero'%}
        {% elseif mesActuNum == '03' %}
          {%set mesActuLetras = 'Marzo'%}
        {% elseif mesActuNum == '04' %}
          {%set mesActuLetras = 'Abril'%}
        {% elseif mesActuNum == '05' %}
          {%set mesActuLetras = 'Mayo'%}
        {% elseif mesActuNum == '06' %}
          {%set mesActuLetras = 'Junio'%}
        {% elseif mesActuNum == '07' %}
          {%set mesActuLetras = 'Julio'%}
        {% elseif mesActuNum == '08' %}
          {%set mesActuLetras = 'Agosto'%}
        {% elseif mesActuNum == '09' %}
          {%set mesActuLetras = 'Septiembre'%}
        {% elseif mesActuNum == '10' %}
          {%set mesActuLetras = 'Octubre'%}
        {% elseif mesActuNum == '11' %}
          {%set mesActuLetras = 'Noviembre'%}
        {% elseif mesActuNum == '12' %}
          {%set mesActuLetras = 'Diciembre'%}
        {% endif %}
        <a class="btn btn-default botonTabla" href = "disponibilidad">Quitar Filtros</a>
        
        {#  Boton Sumar un dia #}
        <a class="btn btn-default botonTabla" 

        {# Cada uno de los meses y su siguente #}  
        {# Controlo los meses con 31  dias #}  
        {% if ((seleccionadoDia == 31) and ((seleccionadoMes == 'Enero'))) %}
          href = "?mes=Febrero&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Marzo'))) %}
          href = "?mes=Abril&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Mayo'))) %}
          href = "?mes=Junio&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Julio'))) %}
          href = "?mes=Agosto&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Agosto'))) %}
          href = "?mes=Septiembre&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Octubre'))) %}
          href = "?mes=Noviembre&dia=1">Dia Siguente</a>

        {# Controlo los meses con 30  dias #}  
        {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Abril'))) %}
          href = "?mes=Mayo&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Junio'))) %}
          href = "?mes=Julio&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Septiembre'))) %}
          href = "?mes=Octubre&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 30) and ((seleccionadoMes == 'Noviembre'))) %}
          href = "?mes=Diciembre&dia=1">Dia Siguente</a>
        {% elseif ((seleccionadoDia == 31) and ((seleccionadoMes == 'Diciembre'))) %}
          href = "?mes=Diciembre&dia=31">Dia Siguente</a>

        {# Febrero Biciesto #}
        {% elseif (((anioActual % 4 == 0) and (anioActual % 100 != 0) or (anioActual % 400 == 0)) and ((seleccionadoMes == 'Febrero') and (seleccionadoDia == 29))) %}
          href = "?mes=Marzo&dia=1">Dia Siguente</a>

        {# Febrero tranquilo en tres arroyos #}
        {% elseif ((seleccionadoDia == 28) and ((seleccionadoMes == 'Febrero'))) %}
          href = "?mes=Marzo&dia=1">Dia Siguente</a>

        {# Si no selecciono ninguna fecha y presiona siguente dia #}
        {% elseif (seleccionadoMes == 'Mes') %}
          href = "?mes={{mesActuLetras}}&dia={{diaActual}}">Dia Siguente</a>

        {# Cualquier dia no especial #}
        {% else %}
          href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+1}}">Dia Siguente</a> 
        {% endif %}


        {# Boton restar un dia #} 

        <a class="btn btn-default botonTabla"

        {# Cada uno de los meses y su anterior #}
        {# Controlo los meses con 31  dias #}    
        {% if ((seleccionadoDia == 1) and ((seleccionadoMes == 'Enero'))) %}
          href = "?mes=Enero&dia=1">Dia Anterior</a>
        {% elseif ((anioActual % 4 == 0) and (anioActual % 100 != 0) or (anioActual % 400 == 0)) and ((seleccionadoDia == 1) and ((seleccionadoMes == 'Marzo'))) %} 
          href = "?mes=Febrero&dia=29">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Marzo'))) %}
          href = "?mes=Febrero&dia=28">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Mayo'))) %}
          href = "?mes=Abril&dia=30">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Julio'))) %}
          href = "?mes=Junio&dia=30">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Agosto'))) %}
          href = "?mes=Julio&dia=31">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Octubre'))) %}
          href = "?mes=Septiembre&dia=30">Dia Siguente</a>

        {# Controlo meses con 30 dias #}
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Abril'))) %}
          href = "?mes=Marzo&dia=31">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Junio'))) %}
          href = "?mes=Mayo&dia=31">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Septiembre'))) %}
          href = "?mes=Agosto&dia=31">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Noviembre'))) %}
          href = "?mes=Octubre&dia=31">Dia Anterior</a>
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Diciembre'))) %}
          href = "?mes=Noviembre&dia=30">Dia Anterior</a>

        {# Si no selecciono ninguna fecha y presiona Anterior dia #}
        {% elseif (seleccionadoMes == 'Mes') %}
          href = "?mes={{mesActuLetras}}&dia={{diaActual}}">Dia Anterior</a>

        {# febrero controlado #}  
        {% elseif ((seleccionadoDia == 1) and ((seleccionadoMes == 'Febrero'))) %}
          href = "?mes=Enero&dia=31">Dia Anterior</a>

        {% else %}
          href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia-1}}">Dia Anterior</a>
        {% endif %}
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia+7}}">Semana Siguente</a>
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes}}&dia={{seleccionadoDia-7}}">Semama Anterior</a>
        <a class="btn btn-default botonTabla" 

        {# Mes siguente #}
        {% if (seleccionadoMes == 'Enero') %}
          href = "?mes=Febrero&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Febrero') %}
          href = "?mes=Marzo&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Marzo') %}
          href = "?mes=Abril&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Abril') %}
          href = "?mes=Mayo&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Mayo') %}
          href = "?mes=Junio&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Junio') %}
          href = "?mes=Julio&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Julio') %}
          href = "?mes=Agosto&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Agosto') %}
          href = "?mes=Septiembre&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Septiembre') %}
          href = "?mes=Octubre&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Octubre') %}
          href = "?mes=Noviembre&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Noviembre') %}
          href = "?mes=Diciembre&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% elseif (seleccionadoMes == 'Diciembre') %}
          href = "?mes=Diciembre&dia={{seleccionadoDia}}">Mes Siguente</a>

        {# si el mes termina en 31 y el siguente tiene menos dias. #}
        {% elseif (seleccionadoMes == 'Enero') and (seleccionadoDia == '31') %}
          href = "?mes=Febrero&dia=28">Mes Siguente</a>
        
        {# Si no hay ningun mes en el selector #}
        {% elseif (seleccionadoMes == 'Mes') %}
          href = "?mes={{mesActuLetras}}&dia={{seleccionadoDia}}">Mes Siguente</a>
        {% endif %}
        <a class="btn btn-default botonTabla" href = "?mes={{seleccionadoMes-1}}&dia={{seleccionadoDia}}">Mes Anterior</a>
    </form>
   
     <table class="records_list tabla" >
            <tbody>   
            {% if ArrayContenedor is null %}
                 <th>Hora/Aula</th>
                
                {% for aula in aulasMostrar %}  
                    <th>{{aula.nombre}}</th>
                {% endfor %}
                    {% for horario in horarios %}
                    {% if horario != '22:30 a 23:00'%}
                       <tr> 
                           {% set valorIndexHora = loop.index %}
                            <td>{{horario}}</td>
                            {% for aula in aulasMostrar %} 
                            {% set nombreActual = aula.nombre %}
                            <script>
                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioOcupado');
                            </script> 
                            <td id = "{{horario}}{{nombreActual}}" class="HorarioDisponible"></td>
                            
                            {% for disponible in ArrayContenedor %}
                                {% set valor = (disponible.2-(disponible.1)) %}  
                                {% if ((disponible.1 == valorIndexHora) and (disponible.3 == nombreActual)) %}                            
                                        <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('rowspan','{{valor}}');
                                        </script>                                            
                                {% endif %}
                                 {% if ((disponible.2 > valorIndexHora) and (disponible.1 < valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                       <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").remove();
                                        </script>                                          
                                {% endif %}
                                 {% if ((disponible.2 == valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                         <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = "Ocupado";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}")classList.add('HorarioOcupado');
                                        </script>
                                {% endif %}

                            {% endfor %}

                           {% endfor %}

                       </tr>
                       {% endif %}
                    {% endfor %}
           
                
          
            {%else%}
                <th>Hora/Aula</th>
                
                {% for aula in aulasMostrar %}  
                    <th>{{aula.nombre}}</th>
                {% endfor %}
                    {% for horario in horarios %}
                        {% if horario != '22:30 a 23:00'%}
                       <tr> 
                           {% set valorIndexHora = loop.index %}
                            <td>{{horario}}</td>
                            {% for aula in aulasMostrar %} 
                            {% set nombreActual = aula.nombre %}
                            <script>
                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioOcupado');
                            </script> 
                            <td id = "{{horario}}{{nombreActual}}" class="HorarioDisponible"></td>
                            
                            {% for disponible in ArrayContenedor %}
                                {% set valor = (disponible.2-(disponible.1)) %}  


                              {# Si hay curso entonces cargo y guardo los datos en variables #}
                                {% if disponible.4.curso is not null %}
                                    {% if disponible.4.curso.anio == 1 %}
                                        {% set anio='Primer año' %}
                                    {% elseif disponible.4.curso.anio == 2 %}            
                                        {% set anio='Segundo año' %}
                                    {% elseif disponible.4.curso.anio == 3 %}            
                                        {% set anio='Tercer año' %}
                                    {% elseif disponible.4.curso.anio == 4 %}            
                                        {% set anio='Cuarto año' %}
                                    {% elseif disponible.4.curso.anio == 5 %}            
                                        {% set anio='Quinto año' %}
                                    {% elseif disponible.4.curso.anio == 6 %}            
                                        {% set anio='Sexto año' %}
                                    {% elseif disponible.4.curso.anio == 7 %}            
                                        {% set anio='Séptimo año' %}
                                    {% endif %}

                                    {% set nombreCursoAct= disponible.4.curso.nombre %}
                                    {% set color= disponible.4.curso.carrera.color %}
                                {% else %}

                                {# si no es curso, es actividad, entonces cargo las variables para actividad #}

                                    {% set anio='N/A' %}
                                    {% set nombreCursoAct= disponible.4.actividad.nombre %}
                                    {% set color= '#a05000' %}
                                {% endif %}


                                {% if ((disponible.1 == valorIndexHora) and (disponible.3 == nombreActual)) %}
                                        <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{anio}}</br>" +
                                                 "{{nombreCursoAct}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('rowspan','{{valor}}');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('style','border-color:{{color}};color:{{color}}');
                                        </script>
                                                                                   
                                {% endif %}
                                 {% if ((disponible.2 > valorIndexHora) and (disponible.1 < valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                       <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{anio}}</br>" +
                                                 "{{nombreCursoAct}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").remove();
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('style','border-color:{{color}};color:{{color}}');
                                        </script> 
                                                                              
                                {% endif %}
                                 {% if ((disponible.2 == valorIndexHora) and (disponible.3 == nombreActual)) %}                              
                                         <script>
                                            document.getElementById("{{horario}}{{nombreActual}}").innerHTML = 
                                                 "{{anio}}</br>" +
                                                 "{{nombreCursoAct}} </br> "+
                                                 "{{disponible.4.docente.apellido}},{{disponible.4.docente.nombre}} ";
                                            document.getElementById("{{horario}}{{nombreActual}}").classList.remove('HorarioDisponible');
                                            document.getElementById("{{horario}}{{nombreActual}}")classList.add('HorarioOcupado');
                                            document.getElementById("{{horario}}{{nombreActual}}").setAttribute('style','border-color:{{color}};color:{{color}}');
                                        </script>

                                {% endif %}
                            {% endfor %}
                           {% endfor %}

                       </tr>
                       {% endif %}
                    {% endfor %}
           
                
            {%endif%}
                
            </tbody>
            
        </table>
        
     
 
{% endblock %}