{% extends '::base.html.twig' %}
{% block title %} Editar Aula {% endblock %}
{% block body -%}

	{{ form_start(edit_form, {'attr': {'class': 'form-horizontal style-form formAutogenerado', 'role': 'form'}}) }}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Editar Aula</h3>
			</div>
			<div class="panel-body">

			    <div class="form-group">
			        {{ form_label(edit_form.nombre, 'Nombre: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(edit_form.nombre, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(edit_form.nombre) }}
			        </div>	        
			    </div>

				<div class="form-group">
			        {{ form_label(edit_form.piso, 'Piso: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(edit_form.piso, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(edit_form.piso) }}
			        </div>	        
			    </div>  

			    <div class="form-group">
			        {{ form_label(edit_form.recursosFijos, 'Recursos fijos: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(edit_form.recursosFijos, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(edit_form.recursosFijos) }}
			        </div>	        
			    </div>

			    <div class="form-group">
			        {{ form_label(edit_form.capacidad, 'Capacidad: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(edit_form.capacidad, {'attr': {'class':'form-control'}}) }}
			            {{ form_errors(edit_form.capacidad) }}
			        </div>	        
			    </div>

			    <div class="form-group">
			        {{ form_label(edit_form.activo, 'Activo: ', {'label_attr': {'class': 'col-md-2 control-label'}}) }}
			        <div class="col-md-6">
			            {{ form_widget(edit_form.activo, {'attr': {'class':''}}) }}
			            {{ form_errors(edit_form.activo) }}
			        </div>	        
			    </div>

	{{ form_end(edit_form) }}

	    	</div>
		</div>


{% endblock %}