{% extends '::base.html.twig' %}
{% block title %} Aulas {% endblock %}
{% block body -%}
    <h1>Listado de Aulas</h1>
    <ul>
       <a href="{{ path('aulas_aula_new') }}" class=" btn btn-default botonTabla">
            Crear Aula
        </a>
    </ul>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Piso</th>
                <th>Capacidad</th>
                <th>Activo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.piso }}</td>
                <td>{{ entity.capacidad }}</td>
                <td>
                    {% if entity.activo==1 %}
                        Si
                    {% else %}
                        No                
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <a href="{{ path('aulas_aula_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                            
                        <a href="{{ path('aulas_aula_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                         <a href="{{ path('aulas_aula_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" onclick="return confirmar()" alt="Borrar" /></a>
                  
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>
    {% endblock %}
