{% extends '::base.html.twig' %}
{% block title %} Aulas {% endblock %}
{% block body -%}
<script type="text/javascript">
    $( document ).ready(function() {
            $("#dato").css("display", "none");
            $("#EnviarFiltro").css("display", "none");
        });

    function getval(sel) {
       switch (sel.value) {
         case "Hoy":
            location.reload();
            break;

         case "Todos":
            $("#dato").css("display", "none");
            $("#formFiltros").attr("action","filtro/todos");
            $("#EnviarFiltro").css("display", "none");
            window.location.href = "{{ path('_homepage') }}aula/filtro/todos";
            break;

         case "Nombre":
            $("#dato").css("display", "inline-block");
            $("#formFiltros").attr("action","filtro/nombre");
            $("#EnviarFiltro").css("display", "inline-block");
            break;
         case "Piso":
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","piso");
            $("#formFiltros").attr("action","filtro/piso");
            $("#EnviarFiltro").css("display", "inline-block");
            break;
         case "Capacidad":
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","capacidad");
            $("#formFiltros").attr("action","filtro/capacidad");
            $("#EnviarFiltro").css("display", "inline-block");
            break;
       }
    }
</script>
    <h1>Listado de Aulas</h1>
    <div class="herramientasTop">
        <ul>
       <a href="{{ path('aulas_aula_new') }}" class=" btn btn-default botonTabla">
            Nueva Aula
        </a>
    </ul>
        

        {% if filtroActivo == 1 %}
                <a href="{{ path('aulas_aula') }}" class="btn btn-default botonTabla">
                    Quitar filtro
                </a>
        {% else %}
            <div class="filtros">
                <form method="POST" id="formFiltros">
                <ul>
                    <label>Filtrar por:</label>
                    <select onchange="getval(this);">
                        <option selected> Todos </option>
                        <option> Nombre </option>
                        <option> Piso </option>
                        <option> Capacidad </option>
                   
                    </select>
                </ul>
                <div id="dato">
                    <ul>
                        <input id="datoTexto" pattern="[a-zA-Z0-9 ]+" type="text" name="dato">
                    </ul>
                </div>
                
                <ul>
                <button id="EnviarFiltro" class="btn btn-default">Enviar</button>
                </ul>
                </form>
            </div>
        {% endif %}
    </div>    
    

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Piso</th>
                <th>Capacidad</th>
                <th>Activo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.piso }}</td>
                <td>{{ entity.capacidad }}</td>
                <td>
                    {% if entity.activo==1 %}
                        Si
                    {% else %}
                        No                
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <a href="{{ path('aulas_aula_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                            
                        <a href="{{ path('aulas_aula_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                         <a href="{{ path('aulas_aula_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" onclick="return confirmar()" alt="Borrar" /></a>
                  
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>
    {% endblock %}
