{% extends '::base.html.twig' %}
{% block title %}Log in{% endblock %}
{% block body %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
           
		<!--SI ESTAS LOGUEADO-->
           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Usted est&aacute; logueado con el usuario:{{ app.user.username }}
      
            {% else %}
       
<div id="Login">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <p><input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /></p>
        <h3>Ingrese al sistema </h3>
        
        <input type="text" id="username" name="_username" placeholder="Usuario" value="{{ last_username }}" required="required" />

        <input type="password" id="password" name="_password" placeholder="Contraseña" required="required" />

        <!--    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>-->

        <h6><a href="{{ path('fos_user_resetting_request') }}">Olvidé mi contraseña</a></h6>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        
    </form>
</div>
{% endif %}
{% endblock fos_user_content %}
{% endblock %}