{% extends '::base.html.twig' %}
{% block title %}Usuarios {% endblock %}
{% block body -%}
    <h1>Listado de Usuarios</h1>
    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><b>{{ entity.username }}</b></td>

                {% if entity.administrador is empty %}
                    <td style="color:#AAA"> N/A </td>
                    <td style="color:#AAA"> N/A </td>
                {% else %}
                    <td>{{entity.administrador.nombre}}</td>
                    <td>{{entity.administrador.apellido}}</td>
                {% endif %}

                <td>{{ entity.email }}</td>
                <td>
                <ul>

                        <a href="{{ path('aulas_usuario_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>


                        <a href="{{ path('aulas_usuario_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                        <a href="{{ path('aulas_usuario_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" alt="Borrar" /></a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
