{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="record_properties tabla">
        <tbody>
            <tr>
                <th>Usuario</th>
                <td><b>{{ entity.username }}</b></td>
            </tr>
            {% if entity.administrador is null %}
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.docente.nombre }}</td>
                </tr>

                <tr>
                    <th>Apellido</th>
                    <td>{{ entity.docente.apellido }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.administrador.nombre }}</td>
                </tr>

                <tr>
                    <th>Apellido</th>
                    <td>{{ entity.administrador.apellido }}</td>
            {% endif %}

            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">

            <a href="{{ path('aulas_usuario_edit', { 'id': entity.id }) }}" class="btn btn-default botonTabla">
                Editar
            </a>

            <a href="{{ path('aulas_usuario') }}" class="btn btn-default botonTabla">
                Volver a la lista
            </a>
</ul>
</p>
{% endblock %}
