{% extends '::base.html.twig' %}
{% block title %}Ver Alerta {% endblock %}
{% block body -%}
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Alerta</h3>
            </div>
            <div class="panel-body">
            <table class="record_properties tabla">
                <tbody>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ entity.fecha|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ entity.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        {% if entity.observaciones is null %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ entity.observaciones }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
                <ul class="record_actions tablaAcciones">
                    <a  class="btn btn-default botonTabla" href="{{ path('aulas_alerta_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                    <a  class="btn btn-default botonTabla" href="{{ path('aulas_alerta') }}">
                        Volver a la lista
                    </a>
                </ul>
            </div>
        </div>
{% endblock %}
