{% extends '::base.html.twig' %}
{% block title %}Materias {% endblock %}
{% block body -%}
    <h1 name='top'>Listado de materias</h1>

    <ul>
            <a href="{{ path('aulas_curso_new') }}" class="btn btn-default botonTabla">
                Nueva materia
            </a>
    </ul>
    <table class="records_list tabla">
        <thead>
            <tr>
            	<th>Nombre</th>
                <th>Carrera</th>
                <th>Año</th>
                <th>Semestre</th>
                <th>Ciclo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				<td>{{ entity.nombre }}</td>
                {% if entity.Carrera == null %}
                    <td> N/A </td>
                {% else %}
                    <td style="Color:{{entity.Carrera.color}}">
                       <b> {{ entity.Carrera.nombre }} </b>
                    </td>
                {% endif %}
				<td>{{ entity.anio }}</td>
                {% if entity.semestre == 1 %}
                    <td>Primero</td>
                {% else %}
                    <td>Segundo</td>
                {% endif %}
                <td>{{ entity.ciclo }}</td>
                <td>
                <ul>
                        <a href="{{ path('aulas_curso_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                        
                        <a href="{{ path('aulas_curso_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>
                        
                        <a href="{{ path('aulas_curso_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" onclick="return confirmar()" alt="Borrar" /></a>
                        
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>
{% endblock %}
