{% extends '::base.html.twig' %}
{% block title %}Ver Materia {% endblock %}
{% block body -%}
    <h1>Materia</h1>

    <table class="record_properties tabla verItem">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td><b>{{ entity.nombre }}</b></td>
            </tr>
            <tr>
                <th>Carrera</th>
                <td style="Color:{{entity.Carrera.color}}">
                     <b> {{ entity.Carrera.nombre }} </b>
                </td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{{ entity.anio }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                {% if entity.semestre == 1 %}
                   <td> Primero </td>
                {% elseif entity.semestre == 2  %}
                   <td> Segundo</td>
                {% elseif entity.semestre == 3  %}
                    <td> Ambos </td>
                {% elseif entity.semestre == 4  %}
                    <td> Anual </td>
                {% endif %}
                
            </tr>
            <tr>
                <th>Ciclo</th>
                <td>{{ entity.ciclo }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions tablaAcciones">
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_curso_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                    
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_curso') }}">
                        Volver a la lista
                    </a>
        </ul>
</p>
{% endblock %}
