<pdf>
    <dynamic-page page-size="letter-landscape">

        {% if datosFiltro is null %}
            <h6></h6>
        {% else%}
            <h1 text-align="center" font-size="30px">{{datosFiltro}}</h1>
        {% endif %}

    <table text-align="center" margin-top="10px">
            <tr background.color="#E3680B" color="white">
                {% if filtro != 'Hoy' %}
                    <td width="130px" font-style="bold" padding="8px">FECHA</td>
                {% endif %}
                <td font-style="bold" padding="8px">CARRERA</td>
                <td font-style="bold" padding="8px">MATERIA / ACTIVIDAD</td>
                <td width="130px" font-style="bold" padding="8px">HORARIO</td>
                <td width="150px" font-style="bold" padding="8px">DOCENTE</td>
                <td width="100px" font-style="bold" padding="8px">AULA</td>
            </tr>
        {% for entity in entities %}
            {% if entity.curso == null %}
                        {% set color = '#a05000' %}
            {% else %}
                        {% set color = entity.curso.Carrera.color %}
            {% endif %}

            <tr>
                <!-- FECHA DE RESERVA -->
                {% if filtro != 'Hoy' %}
                    <td padding="8px" color="{{color}}">
                            {% if entity.fecha %}
                                {{ entity.fecha|date('d-m-Y') }}
                            {% endif %}
                    </td>
                {% endif %}


                <!-- CARRERA -->
                <td padding="8px" color="{{color}}">
                {% if entity.curso == null %}
                      <b>  EXTENSION  </b> </td>
                {% else %}
                    
                        <b> {{ entity.curso.Carrera.nombre }} </b>
                    </td>
                {% endif %}

                <!-- MATERIA/ACTIVIDAD -->
                <td padding="8px" color="{{color}}">
                    {% if entity.actividad == null %}
                        {{ entity.curso.nombre }}
                    {% else %}
                        {{ entity.actividad.nombre }}
                    {% endif %}
                </td>

                <!-- HORARIO -->
                    <td padding="8px" color="{{color}}">
                            {{ entity.horaDesde|date('H:i') }}hs / {{ entity.horaHasta|date('H:i') }}hs
                    </td>

                <!-- DOCENTE -->
                <td padding="8px" color="{{color}}">
                    {{ entity.docente.apellido }}, {{ entity.docente.nombre }}
                </td>

                <!-- AULA -->
                {% if entity.suspendida == true %}
                    <td padding="8px" color="#ff0000">
                    <b>SUSPENDIDO</b>
                    </td>
                {% else %}
                    <td padding="8px" color="{{color}}">
                        {{ entity.aula.nombre }}
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>

    <h3 text-align="center" float="right">Fecha de impresión: {{"now"|date('d/m/Y')}} </h3>

    </dynamic-page>
</pdf>
