{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reserva list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
<<<<<<< HEAD
=======
                <th>Fecha</th>
                <th>Horadesde</th>
                <th>Horahasta</th>
>>>>>>> 08afef7c353fbbbc64d01ee68bfaaf2bb06caad8
                <th>Estado</th>
                <th>Usuario</th>
                <th>Observaciones</th>
                <th>Fecharegistro</th>
                <th>Horaregistro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reserva_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.horaDesde }}</td>
                <td>{{ entity.horaHasta }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
<<<<<<< HEAD
                <td>{{ entity.horaDesde }}</td>
                <td>{{ entity.horaHasta }}</td>
                <td>{% if entity.fechaReserva %}{{ entity.fechaReserva|date('Y-m-d H:i:s') }}{% endif %}</td>
=======
                <td>{{ entity.horaRegistro }}</td>
>>>>>>> 08afef7c353fbbbc64d01ee68bfaaf2bb06caad8
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reserva_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reserva_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reserva_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
