{% extends '::base.html.twig' %}
{% block title %} Listado de Reservas {% endblock %}
{% block body -%}
    <h1>Lista de Reservas</h1>

    <ul>
            <a href="{{ path('reserva_new') }}" class="btn btn-default botonTabla">
                Nueva reserva
            </a>
    </ul>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Fecha Reserva</th>
                <th>Horario</th>
                <th>Docente</th>
                <th>Curso/Actividad</th>
                <th>Carrera</th>
                <th>Aula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horaDesde|date('H:i') }}hs / {{ entity.horaHasta|date('H:i') }}hs</td>
                <td>{{ entity.docente.apellido }}, {{ entity.docente.nombre }}</td>
                <td>
                    {% if entity.actividad == null %}
                        {{ entity.curso.nombre }}
                    {% else %}
                        {{ entity.actividad.nombre }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.curso == null %}
                        N/A
                    {% else %}
                        {{ entity.curso.Carrera.nombre }}
                    {% endif %}
                </td>
                <td>{{ entity.aula.nombre }}</td>
                <td>
                <ul>
                     <a href="{{ path('reserva_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                        
                    <a href="{{ path('reserva_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                    <a href="{{ path('reserva_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" alt="Borrar" /></a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
