{% extends '::base.html.twig' %}
{% block title %} Reservas {% endblock %}
{% block body -%}
<script type="text/javascript">
    $( document ).ready(function() {
            $("#fechas").css("display", "none");
            $("#dato").css("display", "none");
            $("#EnviarFiltro").css("display", "none");
            $("#tipoTarea").css("display", "none");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");

    });          

    function getval(sel) {
       switch (sel.value) {
         case "Hoy":
            location.reload();
            break;

         case "Siguiente día":
            window.location.href = "{{ path('_homepage') }}reserva/filtro/DiaSiguiente";
            break;

         case "Todos":
            $("#fechas").css("display", "none");
            $("#dato").css("display", "none");
            $("#formFiltros").attr("action","filtro/Todos");
            $("#EnviarFiltro").css("display", "none");
            $("#tipoTarea").css("display", "none");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            window.location.href = "{{ path('_homepage') }}reserva/filtro/Todos";
            break;

         case "Fecha":
            $("#fechas").css("display", "inline-block");
            $("#tipoTarea").css("display", "none");
            $("#dato").css("display", "none");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/Fecha");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            break;
         case "Docente":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "none");
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","Docente");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/Docente");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            break;
         case "Aula":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "none");
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","Aula");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/Aula");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            break;
        case "Tarea":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","Tarea");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/Tarea");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            break;
       }
    }

    function tipoTarea(sel) {
       switch (sel.value) {
        case "Todas":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "inline-block");
            $("#datoTexto").attr("placeholder","Tarea");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/Tarea");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "none");
            break;

        case "Materia":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#datoTexto").attr("placeholder","Tarea");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/TodasMaterias");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "inline-block");
            $("#fechaActividad").css("display", "none");
            break;

        case "Actividad":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#datoTexto").attr("placeholder","Tarea");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/TodasActividades");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "inline-block");
            break;
       }
    }

    function fechaMateria(sel) {
       switch (sel.value) {
        case "Todas":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "inline-block");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/TodasMaterias");
            $("#fechaActividad").css("display", "none");
            break;

        case "Por fecha":
            $("#fechas").css("display", "inline-block");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/fechaMateria");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "inline-block");
            $("#fechaActividad").css("display", "none");
            break;
       }
    }

    function fechaActividad(sel) {
       switch (sel.value) {
        case "Todas":
            $("#fechas").css("display", "none");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/TodasActividades");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "inline-block");
            break;

        case "Por fecha":
            $("#fechas").css("display", "inline-block");
            $("#tipoTarea").css("display", "inline-block");
            $("#dato").css("display", "none");
            $("#formFiltros").attr("action","{{ path('_homepage') }}reserva/filtro/fechaActividad");
            $("#EnviarFiltro").css("display", "inline-block");
            $("#fechaMateria").css("display", "none");
            $("#fechaActividad").css("display", "inline-block");
            break;
       }
    }
</script>


    <h1>Listado de Reservas</h1>

    <div class="herramientasTop">
        <ul>
                <a href="{{ path('reserva_new') }}" class="btn btn-default botonTabla">
                    Nueva reserva
                </a>
        </ul>
        <ul>
                <a href="{{ path('reserva') }}imprimirlistado.pdf" target="_blank" class="btn btn-default botonTabla">
                    Imprimir
                </a>
        </ul>

        {% if filtroActivo == 1 %}
                <a href="{{ path('reserva') }}" class="btn btn-default botonTabla">
                    Quitar filtro
                </a>
        {% else %}
            <div class="filtros">
                <form method="POST" id="formFiltros">
                <ul>
                    <label>Filtrar por:</label>
                    <select onchange="getval(this);">
                        <option selected> Hoy </option>
                        <option> Siguiente día </option>
                        <option> Todos </option>
                        <option> Fecha </option>
                        <option> Docente </option>
                        <option> Aula </option>
                        <option> Tarea </option>
                    </select>
                </ul>

                <div id="tipoTarea">
                    <ul>
                        <select onchange="tipoTarea(this);">
                            <option selected> Todas </option>
                            <option> Materia </option>
                            <option> Actividad </option>
                        </select>
                    </ul>
                </div>

                <div id="fechaMateria">
                    <ul>
                        <select onchange="fechaMateria(this);">
                            <option selected> Todas </option>
                            <option> Por fecha </option>
                        </select>
                    </ul>
                </div>

                <div id="fechaActividad">
                    <ul>
                        <select onchange="fechaActividad(this);">
                            <option selected> Todas </option>
                            <option> Por fecha </option>
                        </select>
                    </ul>
                </div>

                <div id="dato">
                    <ul>
                        <input id="datoTexto" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
                    </ul>
                </div>

                <div id="fechas">
                    <ul>
                        <label> Fecha desde: </label>
                            <input type="date" name="fecha1">
                    </ul>
                    <ul>
                        <label> Fecha hasta: </label>
                            <input type="date" name="fecha2">
                    </ul>
                </div>
                <ul>
                <button id="EnviarFiltro" class="btn btn-default">Enviar</button>
                </ul>
                </form>
            </div>
        {% endif %}
    </div>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Docente</th>
                <th>Materia/Actividad</th>
                <th>Carrera</th>
                <th>Aula</th>
                <th>Recursos</th>
                <th>Editor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if entities is null %}
            <tr>
                <td colspan="9">
                    No se encontraron reservas.
                </td>
            </tr>
        {% else %}
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}
                    {% if entity.suspendida == true %}
                        <div style="color: #ff0000"> (suspendida) </div>
                    {% endif %}
                </td>
                <td>{{ entity.horaDesde|date('H:i') }}hs / {{ entity.horaHasta|date('H:i') }}hs</td>
                <td>{{ entity.docente.apellido }}, {{ entity.docente.nombre }}</td>
                <td>
                    {% if entity.actividad == null %}
                        {{ entity.curso.nombre }}
                    {% else %}
                        {{ entity.actividad.nombre }}
                    {% endif %}
                </td>
                {% if entity.curso == null %}
                    <td style="color: #a05000"> <b> EXTENSION </b> </td>
                {% else %}
                    <td style="Color:{{entity.curso.Carrera.color}}">
                        <b>{{ entity.curso.Carrera.nombre }}</b>
                    </td>
                    {% endif %}
                <td>{{ entity.aula.nombre }}</td>
                {% if entity.recursos is empty %}
                    <td style="color:#AAA"> N/A </td>
                {% else %}
                    <td>
                        <div>
                        <a href='#' onclick="
                            if(this.parentNode.getElementsByTagName('div')[0].style.display != ''){
                               this.parentNode.getElementsByTagName('div')[0].style.display = '';this.innerHTML = '(Ocultar)';
                            }
                            else{
                               this.parentNode.getElementsByTagName('div')[0].style.display = 'none'; this.innerHTML = 'Ver recursos';
                            }
                            return false" type="button">Ver recursos</a>

                            <div style="display: none;">
                                {% for recurso in entity.recursos %}
                                {{ recurso.nombre }} </br>
                            {% endfor %}
                            </div>
                        </div>
                    </td>
                {% endif %}
                <td>{{ entity.diosReserva }}</td>
                <td>
                <ul>
                     <a href="{{ path('reserva_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                        
                    <a href="{{ path('reserva_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                    <a href="{{ path('reserva_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" onclick="return confirmar()" alt="Borrar" /></a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>
    {% endblock %}
