{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reserva list</h1>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora desde</th>
                <th>Hora hasta</th>
                <th>Estado</th>
                <th>Usuario</th>    
                <th>Observaciones</th>
                <th>F. Registro</th>
                <th>Hora Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horaDesde|date('H:i') }}</td>
                <td>{{ entity.horaHasta|date('H:i') }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horaRegistro|date('H:i') }}</td>
                <td>
                <ul>
                     <a href="{{ path('reserva_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                        
                    <a href="{{ path('reserva_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                    <a href="{{ path('reserva_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" alt="Borrar" /></a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reserva_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
