{% extends '::base.html.twig' %}
{% block title %} Nueva Reserva {% endblock %}
{% block body %}
	<script type="text/javascript">
		$(document).ready(function(){
			
			//document.getElementById("cresta_aulasbundle_reserva_usuario").value = document.getElementById("idusuario").value;
			document.getElementById("cresta_aulasbundle_reserva_fecha_time").style.display='block';
			document.getElementById("cresta_aulasbundle_reserva_horaDesde_date").style.display='block';
			document.getElementById("cresta_aulasbundle_reserva_horaHasta_date").style.display='block';
			//borro el div que tiene la fecha hasta porque esta seleccionada la carga unica
			$( "#cresta_aulasbundle_reserva > div:nth-child(7)" ).css( "display", "none" );
			$('select.chzn-select').chosen();
			//$( "#cresta_aulasbundle_reserva > div:nth-child(2)" ).css( "display", "none" );
			$( "#cresta_aulasbundle_reserva > div:nth-child(1)" ).css( "display", "inline-block" );
			$( "#cresta_aulasbundle_reserva > div:nth-child(2)" ).css( "display", "none" );
			document.getElementById("cresta_aulasbundle_reserva_actividad").disabled=true;
			document.getElementById("cresta_aulasbundle_reserva_curso").disabled=false;
			document.getElementById("cresta_aulasbundle_reserva_actividad_chosen").disabled=true;
			document.getElementById("cresta_aulasbundle_reserva_curso_chosen").disabled=false;
			fechaActual=new Date();
			anioActual=fechaActual.getFullYear();
			mesActual=parseInt(fechaActual.getMonth())+1;
			diaActual=fechaActual.getDate();
			
			document.getElementById("cresta_aulasbundle_reserva_fecha_date_day").value=diaActual;
			document.getElementById("cresta_aulasbundle_reserva_fecha_date_month").value=mesActual;
			document.getElementById("cresta_aulasbundle_reserva_fecha_date_year").value=anioActual;

			document.getElementById("cresta_aulasbundle_reserva_rangoHasta_date_day").value=diaActual;
			document.getElementById("cresta_aulasbundle_reserva_rangoHasta_date_month").value=mesActual;
			document.getElementById("cresta_aulasbundle_reserva_rangoHasta_date_year").value=anioActual;

			document.getElementById("cresta_aulasbundle_reserva_rangoDesde_date_day").value=diaActual;
			document.getElementById("cresta_aulasbundle_reserva_rangoDesde_date_month").value=mesActual;
			document.getElementById("cresta_aulasbundle_reserva_rangoDesde_date_year").value=anioActual;

			}
		)
		function actividad(value){
			if(value!=true){//es true cuando es un curso
				$("#cresta_aulasbundle_reserva_actividad_chosen").addClass("chosen-container-active");
			//	$("#cresta_aulasbundle_reserva_actividad_chosen").addClass("chosen-with-drop");
				$("#cresta_aulasbundle_reserva_actividad_chosen").removeClass("chosen-disabled");
				$("#cresta_aulasbundle_reserva_curso_chosen").removeClass("chosen-container-active");
			//	$("#cresta_aulasbundle_reserva_curso_chosen").removeClass("chosen-with-drop");
				$("#cresta_aulasbundle_reserva_curso_chosen").addClass("chosen-disabled");
				document.getElementById("cresta_aulasbundle_reserva_curso_chosen").style.display="none";
				document.getElementById("cresta_aulasbundle_reserva_actividad_chosen").style.display="inline-block";	
				$( "#cresta_aulasbundle_reserva > div:nth-child(1)" ).css( "display", "none" );
				$( "#cresta_aulasbundle_reserva > div:nth-child(2)" ).css( "display", "inline-block" );
				document.getElementById("cresta_aulasbundle_reserva_actividad").disabled=false;
				document.getElementById("cresta_aulasbundle_reserva_curso").disabled=true;
				document.getElementById("cresta_aulasbundle_reserva_actividad_chosen").disabled=false;
				document.getElementById("cresta_aulasbundle_reserva_curso_chosen").disabled=true;
				//$('#mainContainer > div:nth-child(6)').style.display="none";
				}
			else{
				$("#cresta_aulasbundle_reserva_actividad_chosen").removeClass("chosen-container-active");
				$("#cresta_aulasbundle_reserva_actividad_chosen").addClass("chosen-disabled");
			//	$("#cresta_aulasbundle_reserva_actividad_chosen").removeClass("chosen-with-drop");
				$("#cresta_aulasbundle_reserva_curso_chosen").addClass("chosen-container-active");
			//	$("#cresta_aulasbundle_reserva_curso_chosen").addClass("chosen-with-drop");
				$("#cresta_aulasbundle_reserva_curso_chosen").removeClass("chosen-disabled");
				document.getElementById("cresta_aulasbundle_reserva_curso_chosen").style.display="inline-block";
				document.getElementById("cresta_aulasbundle_reserva_actividad_chosen").style.display="none";
				$( "#cresta_aulasbundle_reserva > div:nth-child(1)" ).css( "display", "inline-block" );
				$( "#cresta_aulasbundle_reserva > div:nth-child(2)" ).css( "display", "none" );
				document.getElementById("cresta_aulasbundle_reserva_actividad").disabled=true;
				document.getElementById("cresta_aulasbundle_reserva_curso").disabled=false;
				document.getElementById("cresta_aulasbundle_reserva_actividad_chosen").disabled=true;
				document.getElementById("cresta_aulasbundle_reserva_curso_chosen").disabled=false;
				}
			}
	</script>
	<div class="formAutogenerado">
		<div id="NuevaReserva">
	    	<h1>Nueva Reserva</h1>
	    	<input type="hidden" id="idusuario" value="{{ usuario }}" disabled>
	    	<div id="checkcurso">
				<label>Materia : </label>
				<input type="checkbox" onchange="actividad(this.checked);" checked>
			</div>
		{# trato de ponerle una función para que si elige una carga unica se borre la fecha hasta #}
	    {{ form(form) }}
	    {#{{ form_widget(form.rango,{'onchange':'rango(this.selected);'} ) }}#}

		</div>
	</div>
	</br>

    {#
       {{ form_widget(personalFilterForm.personaFiltrarMail,
    }
    }
    { 'empty_value': 'Todos',
    'attr': {'selected': personaFiltrarMail,
    'onChange': 'javascript:document.filtrado.submit()' }})}}
   	{#
	{{ form_widget(form.usuario, {'attr': {'display': 'none' } } ) }}
	{{ form_widget(form.fechaRegistro, {'attr': { 'display':'none' } } ) }}
	{{ form_widget(form.horaRegistro, {'attr': { 'display':'none' } } ) }} 
	{{ form_start(form) }}
		{{ form_row(form.usuario) }}
		{{ form_row(form.estado) }}
		{{ form_row(form.observaciones) }}s
		{{ form_row(form.fecha) }}
		{{ form_row(form.horaDesde) }}
		{{ form_row(form.horaHasta) }}
	{{ form_end(form) }}	
    {{ form_label(form.estado) }}
    {{ form( form.estado, {'attr':{'checked':'true'}} ) }}
	{{ form_label(form.observaciones ) }}
	{{ form( form.observaciones ) }}
	{{ form_label(form.fechaRegistro, {'attr':{'class':'oculto'}} ) }}
	{{ form( form.fechaRegistro ) }}
	{{ form_label( form.horaDesde ) }}
	{{ form( form.horaDesde ) }}
	{{ form(form.usuario)}}
	{{ usuario}}
	{{ form_label(form.usuario={{usuario}})}}
	{{ form( form.usuario, {'value':'usuario' } ) }}
	<input type="number" name="usuario" value="{{idUsuario}}">
	{% set usuario %}{{ usuario }}{% endset %}	
	{% set form.usuario = usuario %} 
	{{ form_label(form.fechaRegistro, {'attr':{'value':'oculto'}} ) }}
	{{ form_label(form.horaRegistro, {'attr':{'value':'oculto'}} ) }}
	{{ form( form.usuario, {'data'})}}
	<input type="hidden" id="idusuario" value="{{ usuario }}" disabled>#}
{% endblock %}
