{% extends '::base.html.twig' %}
{% block title %} Nueva Reserva {% endblock %}
{% block body %}
	<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById("cresta_aulasbundle_reserva_usuario").value = document.getElementById("idusuario").value;
			document.getElementById("cresta_aulasbundle_reserva_fecha_time").style.display='block';
			document.getElementById("cresta_aulasbundle_reserva_horaDesde_date").style.display='block';
			document.getElementById("cresta_aulasbundle_reserva_horaHasta_date").style.display='block';
			$('select.chzn-select').chosen();
			}
		)
		function actividad(value){
			if(value!=true){
				document.getElementById("cresta_aulasbundle_reserva_actividad").disabled=false;
				document.getElementById("cresta_aulasbundle_reserva_curso").disabled=true;
				document.getElementById("cresta_aulasbundle_reserva_carrera").disabled=true;
				}
			else{
				document.getElementById("cresta_aulasbundle_reserva_actividad").disabled=true;
				document.getElementById("cresta_aulasbundle_reserva_curso").disabled=false;
				document.getElementById("cresta_aulasbundle_reserva_carrera").disabled=false;
				}
			}
		function validar(){
			horaDesde=document.getElementById("cresta_aulasbundle_reserva_horaDesde_time_hour").value;
			minutosDesde=document.getElementById("cresta_aulasbundle_reserva_horaDesde_time_minute").value;
			horaHasta=document.getElementById("cresta_aulasbundle_reserva_horaHasta_time_hour").value;
			miutosHasta=document.getElementById("cresta_aulasbundle_reserva_horaHasta_time_minute").value;
			if(horaDesde>horaHasta){
				alert("La hora de inicio no puede ser menor a la hora de finalizacion");
			}
			else{
				if((horaDesde==horaHasta)&&(minutosDesde>=minutosHasta)){
					alert("La hora y minutos de inicio no pueden ser iguales o mayores a la hora y minutos de finalizacion");
				}
			}

		}
	</script>

    <h1>Nueva Reserva</h1>
    <input type="hidden" id="idusuario" value="{{ usuario }}" disabled>

	<label>Curso : </label>
	<input type="checkbox" onchange="actividad(this.checked);" checked>

    {{ form(form) }}
   	{#
	{{ form_widget(form.usuario, {'attr': {'display': 'none' } } ) }}
	{{ form_widget(form.fechaRegistro, {'attr': { 'display':'none' } } ) }}
	{{ form_widget(form.horaRegistro, {'attr': { 'display':'none' } } ) }} 
	{{ form_start(form) }}
		{{ form_row(form.usuario) }}
		{{ form_row(form.estado) }}
		{{ form_row(form.observaciones) }}s
		{{ form_row(form.fecha) }}
		{{ form_row(form.horaDesde) }}
		{{ form_row(form.horaHasta) }}
	{{ form_end(form) }}	
    {{ form_label(form.estado) }}
    {{ form( form.estado, {'attr':{'checked':'true'}} ) }}
	{{ form_label(form.observaciones ) }}
	{{ form( form.observaciones ) }}
	{{ form_label(form.fechaRegistro, {'attr':{'class':'oculto'}} ) }}
	{{ form( form.fechaRegistro ) }}
	{{ form_label( form.horaDesde ) }}
	{{ form( form.horaDesde ) }}
	{{ form(form.usuario)}}
	{{ usuario}}
	{{ form_label(form.usuario={{usuario}})}}
	{{ form( form.usuario, {'value':'usuario' } ) }}
	<input type="number" name="usuario" value="{{idUsuario}}">
	{% set usuario %}{{ usuario }}{% endset %}	
	{% set form.usuario = usuario %} 
	{{ form_label(form.fechaRegistro, {'attr':{'value':'oculto'}} ) }}
	{{ form_label(form.horaRegistro, {'attr':{'value':'oculto'}} ) }}
	{{ form( form.usuario, {'data'})}}
	<input type="hidden" id="idusuario" value="{{ usuario }}" disabled>#}
        <ul class="record_actions">
    <li>
        <a href="{{ path('reserva') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
