{% extends '::base.html.twig' %}
{% block title %}Editar carrera {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundless/genemuform/css/colorpicker.css') }}" rel="stylesheet" />
    <!--<link href="{{ asset('bundless/genemuform/css/layout.css') }}" rel="stylesheet" />-->

    

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundless/genemuform/js/colorpicker.js') }}"></script>
    <script src="{{ asset('bundless/genemuform/js/eye.js') }}"></script>
   <!-- <script src="{{ asset('bundless/genemuform/js/jquery.js') }}"></script>-->
    <script src="{{ asset('bundless/genemuform/js/layout.js?ver=1.0.2') }}"></script>
    <script src="{{ asset('bundless/genemuform/js/utils.js') }}"></script>

<script>

$(document).ready(function(){
	$('#cresta_aulasbundle_carrera_color').ColorPicker({
		onSubmit: function(hsb, hex, rgb, el) {
			$(el).val(hex);
			$(el).ColorPickerHide();
		},
		onBeforeShow: function () {
			$(this).ColorPickerSetColor(this.value);
		}
	})
	.bind('keyup', function(){
		$(this).ColorPickerSetColor(this.value);
	});
}
</script>


{% endblock %}

{% block body -%}
	<div class='formAutogenerado'>
		<div id='EditarCarrera'>
    		<h1>Editar Carrera</h1>

    		{{ form(edit_form) }}

        </div>
    </div>

{% endblock %}