{% extends '::base.html.twig' %}
{% block title %}Carrera {% endblock %}
{% block body -%}

<script type="text/javascript">
    $( document ).ready(function() {
            $("#dato").css("display", "none");
            $("#EnviarFiltro").css("display", "none");
        });

    function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Nombre":
            $("#dato").css("display", "inline-block");
            $("#formFiltros").attr("action","filtro/nombre");
            $("#EnviarFiltro").css("display", "inline-block");
            break;

         case "Universidad":
            $("#dato").css("display", "inline-block");
            $("#formFiltros").attr("action","filtro/universidad");
            $("#EnviarFiltro").css("display", "inline-block");
            break;
        
        case "Facultad":
            $("#dato").css("display", "inline-block");
            $("#formFiltros").attr("action","filtro/facultad");
            $("#EnviarFiltro").css("display", "inline-block");
            break;

        case "Plan":
            $("#dato").css("display", "inline-block");
            $("#formFiltros").attr("action","filtro/plan");
            $("#EnviarFiltro").css("display", "inline-block");
            break;
        }
    }
</script>

    <h1>Listado de Carreras</h1>
    <div class="herramientasTop">

    <ul>

            <a href="{{ path('aulas_carrera_new') }}" class="btn btn-default botonTabla">
                Nueva Carrera
            </a>

    </ul>

    {% if filtroActivo == 1 %}
                <a href="{{ path('aulas_carrera') }}" class="btn btn-default botonTabla">
                    Quitar filtro
                </a>
        {% else %}
            <div class="filtros">
                <form method="POST" id="formFiltros">
                <ul>
                    <label>Filtrar por:</label>
                    <select onchange="getval(this);">
                        <option selected> Todos </option>
                        <option> Nombre </option>
                        <option> Universidad </option>
                        <option> Facultad </option>
                        <option> Plan </option>
                    </select>
                </ul>
                <div id="dato">
                    <ul>
                        <input id="datoTexto" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
                    </ul>
                </div>
                
                <ul>
                <button id="EnviarFiltro" class="btn btn-default">Enviar</button>
                </ul>
                </form>
            </div>
        {% endif %}
       
    </div>    

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Universidad</th>
                <th>Facultad</th>
                <th>Plan</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td style="color:{{ entity.color }}"> <b> {{ entity.nombre }} </b></td>
                <td>{{ entity.universidad }}</td>
                <td>{{ entity.facultad }}</td>
                <td>{{ entity.plan }}</td>
                {% if entity.observaciones is null %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ entity.observaciones }}</td>
                {% endif %}
                <td>
                <ul>
                    
                        <a href="{{ path('aulas_carrera_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                    
                        <a href="{{ path('aulas_carrera_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                        <a href="{{ path('aulas_carrera_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" 
                        onclick="return confirmar()" alt="Borrar" /></a>
                
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>

        
    {% endblock %}
