{% extends '::base.html.twig' %}
{% block title %}Carrera {% endblock %}
{% block body -%}
    <h1>Listado de Carreras</h1>

    <ul>

            <a href="{{ path('aulas_carrera_new') }}" class="btn btn-default botonTabla">
                Nueva Carrera
            </a>

    </ul>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Universidad</th>
                <th>Facultad</th>
                <th>Semestre</th>
                <th>Color</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.universidad }}</td>
                <td>{{ entity.facultad }}</td>
                <td>{{ entity.semestre }}</td>
                <td>{{ entity.color }}</td>
                {% if entity.observaciones is null %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ entity.observaciones }}</td>
                {% endif %}
                <td>
                <ul>
                    
                        <a href="{{ path('aulas_carrera_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                    
                        <a href="{{ path('aulas_carrera_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                        <a href="{{ path('aulas_carrera_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" 
                        onclick="return confirmar()" alt="Borrar" /></a>
                
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <script>

      function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
            return true;
        }else{
          return false;
        }
      }
    
    </script>

        
    {% endblock %}
