{% extends '::base.html.twig' %}
{% block title %}Carrera {% endblock %}
{% block body -%}
    <h1>Lista de Carreras</h1>

    <ul>

            <a href="{{ path('aulas_carrera_new') }}" class="btn btn-default botonTabla">
                Nueva Carrera
            </a>

    </ul>

    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                <ul>
                    
                        <a href="{{ path('aulas_carrera_show', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/ver.png') }}" class="icono" alt="Ver" /></a>
                    
                        <a href="{{ path('aulas_carrera_edit', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/editar.png') }}" class="icono" alt="Editar" /></a>

                        <a href="{{ path('aulas_carrera_delete', { 'id': entity.id }) }}"><img src="{{ asset('img/iconos/borrar.png') }}" class="icono" alt="Borrar" /></a>
                
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
